@font-face {
    font-family: quicksandlight;
    font-style:normal;
    font-weight:200;
    font-display: swap;
    src: local(''),url(fonts/Quicksand\ Woff/quicksand-variablefont_wght-webfont.woff) format('woff'), url(fonts/Quicksand\ Woff/quicksand-variablefont_wght-webfont.woff2) format('woff2');
}

*{
margin: 0;
padding: 0;
overflow:visible;
}

   
html {
    box-sizing: border-box;
    --mft-height: 423px;
    scroll-behavior: smooth;
    
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  :root{
    --rounded-normal:8px;
    --ch-bg: #ffffff;
    --bg-3rd: #e9e9e9;
    --rounded-large:1rem;
    --border-gray:rgba(0, 0, 0, 0.300);
   
    --sf-height: 48px;
    --header-height:____;
    --sf-bg:var(--ch-bg, --bg-3rd);
    /*Margin/Padding*/
    --pad-inner:52px;
    /*Text*/
    --text-header: 14px;
    --text-size-primary: 16px;
    /*Colors*/
    --color-primary:#222;
    --color-white: #fff;
    /*Buttons*/
    --button-height: 48px;
    --button-pad: 24px;
    --button-bg: var(--color-primary);
    --button-color: var(--color-white);
    --button-rounded: 8px;
  }

  a {
    text-decoration: none
}
  
.block {
    margin-top: clamp(20px,3vw,50px);
    margin-bottom: clamp(50px,20vw,200px);
    padding: 0;
}

.inner {
    --innerWidth: 1920px;
    width: 100%;
    max-width: var(--innerWidth);
    margin: 0 auto;
    padding: 0 var(--pad-inner);
}

.inner-1{
    --innerWidth: 1920px;
    width: 100%;
    max-width: var(--innerWidth);
    margin: 0 auto;
    padding: 0 10px;
}

.inner-marquee{
    --innerWidth: 1920px;
    width: 100%;
    max-width: var(--innerWidth);
    margin: 0 auto;
    padding: 0 var(--pad-inner);
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-style: solid;
    border-width: 0;
    border-right-width: var(--pad-inner);
    border-color: var(--ch-bg);
}

.inner-marquee .marquee-text {
    margin-bottom: 30px;
}

.marquee-text{
    position: relative;
    overflow:hidden;
    width:1880px;
    white-space: nowrap;
}

.inner-marquee .marquee-text span {
    line-height: 120%;
    font-size: 20px;
    font-size: clamp(20px, 12.9577464789px + 1.4084507042vw, 40px);
}



  /*BODY*/

  body {
    margin: auto;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 300;
    background: var(--bg-primary);
    color: var(--color-primary);
    line-height: 200%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
}
  
  body{
    font-size: var(--text-size-primary);
    margin:auto;
    font-family: "Nanum Gothic", sans-serif;
    background: var(--bg-3rd);
    color: var(--color-primary);
    line-height: 200%;
    text-rendering: optimizeLegibility;
    background-repeat: no-repeat;
  }

  .wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .header-all{
    position: relative;
  }

  .header-main {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    font-size: var(--text-header);
    margin: 7px 20px;
    
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    width:100%;
    height: var(--sf-height);
    padding-right: 20px;
    background: var(--sf-bg);
    border-radius: 8px;
    font-size: 14px;
    transition: background .3s;
    z-index: 1;
    filter: brightness(90%);
}

.a-logo{
    display:flex;

}

 .logo{
    margin: auto 2px;
 }

 .header-search{
    position:relative;
    display:flex;
    flex: 1;
    margin-left: 10px;
    z-index: 3;
 }

 .search-form-button{
    display:flex;
    align-items: center;
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
}

 .button-search-icon{
    display:flex;
    align-items: center;
    vertical-align: middle;
    
 }

 .search-form-field{
    position:relative;
    display:flex;
    flex: 1;
    height: 100%;
    padding-left: 10px;
    border-top-left-radius: var(--rounded-normal);
    border-bottom-left-radius: var(--rounded-normal);
 }

.search-form-input{
    position: relative;
    flex: 1;
    height: 100%;
    background: rgba(0,0,0,0);
    border: none;
    padding-left: 10px;
    font-size: var(--text-header);
    margin:auto;
    font-family: "Nanum Gothic", sans-serif;
    text-overflow: ellipsis;
}

.search-form-in-drop{
    display:flex;
}

.search-form-separator {
    display: inline-flex;
    align-items: center;
    margin: 0 20px;
    font-size: 11px;
}

.search-drop {
    position: relative;
    display: inline-flex;
    color:grey;
    width: 100%;
    cursor: pointer;
    border-radius: 26px;
    vertical-align: middle;
}

.search-dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    transition: transform .3s;
    color:black;
}

.search-dropdown-selected {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 25px;
    padding-left: 5px;
    font-weight: 500;
    z-index: 2;
    color:black;
}

.header-main-right{
    display: flex;
    gap: 12px;
    height: var(--sf-height);
    margin-left: 20px;
    margin-right:20px;
}

.header-main-user {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-main-user-link{
    cursor: pointer;
    white-space: nowrap
}

.header-main-buttons{
    display: flex;
    gap: 12px;
    margin-left: 8px;
}

.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height);
    padding: 0 var(--button-pad);
    background-color: var(--button-bg);
    font-size: var(--text-size-primary);
    color: var(--button-color);
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    transition: color .3s, background .3s,border .3s;
}

.button:hover{
    color: black;
    background-color: white;
    border: black 1px solid;
    box-shadow:
    0 0 8px #FC93AF;
    box-shadow:
    0 0 9px #FC93AF;
}

.button[class*="--rounded"] {
    border-radius: var(--button-rounded);
}

.header-main-buttons .button{
font-weight:normal;
}

/*SECTION ID=CONTENT*/

body.header-above #content {
    margin-top: -71px;
}

#content {
    flex: 1;
}

.content-header {
    margin-bottom: clamp(30px,6vw,100px);
    padding-top: 71px;
    padding-bottom: clamp(30px,6vw,100px);
    background: var(--ch-bg, transparent);
}

.content-header .block{
    margin-bottom:0;
}


.heading-topic {
    position: relative;
    margin: clamp(20px,6vw,60px) auto;
    line-height: normal;
}

.heading-topic-text {
    display:flex;
    width: 100%;
    height: auto;
    fill: var(--color-primary);
    font-size:clamp(14px, 13.2vw, 274px);
    margin:auto;
    justify-content: center;
    object-fit: cover;
}

.image-container{
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    border-radius: var(--rounded-large);
    aspect-ratio: 16/7;
    overflow: hidden;
}

.team-canoe{
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow:hidden;
    
}

.image-background{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container-content {
    position:absolute;
    width: 100%;
    padding: 0 clamp(2px,2.5vw,30px) 0 clamp(2px,2.5vw,60px);
    pointer-events: none;
}

.image-container-content-title{
    overflow: hidden;
    
}

.image-title{
    color:#ffffff;
    font-size: clamp(20px, 4vw, 5vw);
    font-family: Exo 2;
    margin:0;
    padding:20px 0;
    overflow:hidden;
    line-height:normal;
    text-shadow:-1.5px 1.5px #FC93AF;
    animation: pulsate 2s infinite alternate;    
}

@keyframes pulsate{
100%{
    text-shadow:0px 0px 5px #FC93AF,
    0px 0px 5px #FC93AF;
}
0%{
    text-shadow:0px 0px 2px #FC93AF;
}
}

.heading-2{
    position: relative;
    margin-bottom: clamp(40px,5vw,96px);
    font-weight: 400;
}

.heading-2-top{
    margin-bottom: 1rem;
}

.text-default{
font-size:30px;
padding-left: 15px;
text-underline-offset: 4px;
}

.heading-2-middle{

}

.heading-2-grid{
display:grid;
grid-template-columns: 50% 50%;
gap: 10px;
}

.list-1{
 display: flex;
    flex-wrap: wrap;
    gap: clamp(30px,3vw,94px);
}

.list-1-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: min(380px,100%);
}

.list-1-column-heading{
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-gray);
    font-size: var(--text-size-primary);
}

.list-1-column-list{
    flex:1;
}

.list-1-column-item{
    padding: clamp(10px,4vw,24px);
    list-style: none;
}

.list-1-column-item:not(:last-child) {
    border-bottom: 1px solid var(--border-gray);
}

.list-1-column-card{
    display: flex;
    align-items: center;
    gap: clamp(10px,4vw,20px);
}

.list-1-column-figure{
    flex-shrink: 0;
}

.list-1-column-media{
    border-radius: 50%;
    object-fit: cover;
    width: clamp(40px,4vw,72px);
    height: clamp(40px,4vw,72px);
    transition: all .3s;
    display: block;
    max-width: 100%;
}

.list-1-column-figure-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
}

.figure-info-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    white-space: nowrap;
}

.figure-info-text{
    font-size: 18px;
    font-size: clamp(18px, 17.2957746479px + 0.1408450704vw, 20px);
    font-weight: normal;
    line-height: 120%;
    white-space:normal;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*.....................*/
/*.......@MEDIA*.......*/
/*.....................*/

@media(max-width: 576px) {
    :root {
        --pad-inner: 16px
    }
    .wrapper {
        overflow-x: hidden;
    }
    .hidden-sm {
        display: none
    }
}

@media (max-width: 1023px){
:root {
    --pad-inner: 24px;
}
}

@media (max-width: 1280px){
:root {
    --pad-inner: 40px;
}
}